[2015-01-22 21:44] JehoG opened #26 "Porting account_voucher_supplier_invoice_number"
Hello,

I need to port account_voucher_supplier_invoice_number for the V8.
Is anyone have started to work on that already?
Else I'll do it.

Guillaume

[2015-01-27 14:42] scigghia commented on #26
hi,
maybe this https://github.com/OCA/OCB/pull/128 can be useful

[2015-06-18 05:08] scigghia opened #37 "[ITA] account_due_list"
I think that it.po in account_due_list must be reviewed
https://github.com/OCA/account-payment/blob/8.0/account_due_list/i18n/it.po#L99 Pagamenti should be "Scadenze" or "lista scadenze"
it could be confused with "Pagamenti cliente" and "Pagamenti fornitore"

what do you think about?

[2015-06-18 14:01] eLBati commented on #37
I agree. Original string `payments` should be changed too

[2015-07-11 16:19] Bilbonet opened #39 "account_payment_term_multi_day"
hi,
i've created a payment mode to 30 days, the days (10,25).
I've created an invoice with date 11/07/2015

The payment mode calculated the date 10/09/2015

I think that the correct day should be 25/08/2015

[2015-08-04 13:14] pedrobaeza commented on #39
I have tried on runbot (admin/admin) and it's working as expected, so it's a problem in your side:

http://3111463-8-0-3b28c5.runbot1.odoo-community.org/web?db=3111463-8-0-3b28c5-all#id=8&view_type=form&model=account.invoice&menu_id=225&action=258

[2015-08-04 13:14] #39 closed

[2015-08-28 03:44] gdgellatly opened #43 "Can't use Runbot"
Hi,

I just went to test a pretty sever bug I found with no_auto_lines, but using runbot you can't even open either payment screen, you just get fields missing errors (main 7.0 branch)

shadow_move_id in account_vat_on_payment is problem for customer payments
supplier_invoice_number in account_voucher_supplier_invoice_number is problem for supplier payments.

[2015-10-14 00:19] pedrobaeza opened #49 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [x] account_due_list - By @jbeficent - #122
- [x] account_due_list_payment_mode - By @sergio-teruel - #118
- [x] ~~account_payment_order_to_voucher~~ - Voucher not present in v9
- [x] account_payment_return - By @carlosdauden - #112
- [x] account_payment_return_import - By @carlosdauden - #116
- [x

[2015-10-30 10:42] JGarcia-Panach opened #51 "account_due_list_payment_mode does not show payment mode"
Steps of the test (in runbot: http://3117441-8-0-4bf68a.runbot1.odoo-community.org/web?debug=1)

**1.- I create a sell payment mode.**
![1creo modo de pago para ventas](https://cloud.githubusercontent.com/assets/13234598/10843181/b26269d8-7ef7-11e5-8022-e13199385e46.JPG)

**2.- I assign the new payment mode to customer Agrolait.**
![2le asigno el modo de pago a agrolait](https://cloud.githubuserco

[2015-10-30 13:02] JGarcia-Panach commented on #51
We have checked the database, and when you create an invoice it doesn't inform payment mode field:
payment_mode_id = null
![account_move_line](https://cloud.githubusercontent.com/assets/13234598/10846242/59713112-7f0e-11e5-95dd-99efb7b860db.PNG)

If you select another payment mode, the id appears
![account_move_line_actualizado](https://cloud.githubusercontent.com/assets/13234598/10846259/7626e784

[2015-10-30 13:16] pedrobaeza commented on #51
Please try changing the related field from `invoice.payment_mode_id` to `stored_invoice_id.payment_mode_id` and tell me if it works.

[2015-10-30 13:24] JGarcia-Panach commented on #51
It works perfectly @pedrobaeza
Thanks!

Should we do a PR?

[2015-10-30 13:42] pedrobaeza commented on #51
Yes, please

[2015-11-02 09:51] eLBati commented on #51
As the PR is merged, I close this

[2015-11-02 09:51] #51 closed

[2016-01-24 14:51] cubells opened #59 "[8.0] Unable to install account_due_list after migration"
The database has more than 39.000 records.
The problem is that the method _maturity_residual() calls method _maturity_residual() of account_move_line model and it's very very very slow.

[2016-01-24 17:22] pedrobaeza commented on #59
I have a database with millions of account.move.line that I needed to install this module. It took a lot, but at the end, it installs. This field is needed for performance reasons for calculating the aging of an effect. Do you have any possible improvement over the calculation?

[2016-02-02 18:46] dufresnedavid opened #61 "Travis and Runbot tests failing"
https://github.com/OCA/account-payment/pull/60

I get the following messages on travis

Creating instance:

/home/travis/odoo-7.0/openerp-server -d openerp_template --log-level=warn --stop-after-init --addons-path /home/travis/build/OCA/account-payment,/home/travis/odoo-7.0/addons --init purchase,account,account_payment,account_voucher,sale,account_check_writing,base,account_report_company,stock

[2016-02-18 15:43] mbcosta opened #65 "Transifex - Can't find project"
Hi
   I'm looking for the project on https://www.transifex.com/oca/public/?page=1 ,but can't find, there is any problem or the project is in another place ?

[2016-02-18 15:48] pedrobaeza commented on #65
For being in Transifex, an OCA project should declare it via .travis.yml file. It seems nobody has done it till now. Here is the master template: https://github.com/OCA/maintainer-quality-tools/blob/master/sample_files/.travis.yml and here the secret words: https://github.com/OCA/maintainer-quality-tools/issues/194

[2016-02-22 21:01] mbcosta commented on #65
Thanks @pedrobaeza , I did a pull request to add the Transifex config #66

[2016-03-02 19:02] mbcosta commented on #65
Hi @pedrobaeza , I can see the project now but there is nothing inside https://www.transifex.com/oca/OCA-account-payment-8-0/content/ , maybe I missed or did something wrong. Do you have any idea ?

[2016-03-02 19:18] pedrobaeza commented on #65
Well, it seems a bad Travis execution. I have run it again and now all seems to be there.

[2016-03-02 19:18] #65 closed

[2016-03-23 16:58] pedrobaeza opened #68 "[9.0] Handling of payment/direct debit orders (SEPA, DTA...)"
I have created this issue to track all the discussion around how to handle payment/direct debit orders in Odoo 9.0.

In a nutshell:
- Odoo has removed _account_voucher_ and _account_payment_ modules in version 9.
- There's a new object account.payment for handling all.
- There is an enterprise module that allows to make SEPA payment orders (SEPA credit transfer, not SEPA direct debit).

@fclementi

[2016-03-23 16:59] pedrobaeza commented on #68
cc @yvaucher @BT-astauder @BT-mtallon @jbeficent @fclementic2c, you will be interested in this.

[2016-03-24 08:16] fclementic2c commented on #68
Thanks for your analysis @pedrobaeza .
I agree with you :)

Here are few very importants points/remarks I think:
- This new payment order **must post payment entries at the payment order closing** (last status). So no more import in the bank statement obviously
- have a clear workflow : Draft, Open (here you can import account move lines and generate xml file as many times as wanted), closed (can

[2016-03-29 12:19] jbeficent opened #70 "[8.0][account_due_list] [feature request] add # days overdue, # days to due"
We'd like to add the to the account_due_list:

- The number of days an item is to be due (compared to today's date)
- The number of days an invoice is overdue (compared to the maturity date)

This information is similarly shown in the Partner Aging Balance, but the account_due_list can often be more practical to use.

With this information, the AP/AR person can quickly have a better understanding

[2016-03-29 12:25] pedrobaeza commented on #70
The only problem I see with this is that these fields can't be stored, and thus the performance impact. Maybe you can make a POC to see.

[2016-03-29 12:26] JordiBForgeFlow commented on #70
@pedrobaeza What do you mean POC? Percent of Completion?

[2016-03-29 12:31] pedrobaeza commented on #70
Proof of Concept

[2016-03-29 12:34] JordiBForgeFlow commented on #70
@pedrobaeza These fields would only be computed in this view. As this list is to be used for Accounts Receivable / Payable people for this specific purpose, the benefits may be greater than a slight slowdown of the list. But agree that best thing is to do a POC.

We'd also like to add the remaining balance to the items, so that it's easier for the person listing the report to know how much is due

[2016-03-29 12:43] pedrobaeza commented on #70
OK, that would indeed boost the module to a higher level.

[2016-03-29 12:46] JordiBForgeFlow commented on #70
Thanks @pedrobaeza. Once we've proposed the PR we'll link it to the issue and will close this one.

[2016-03-31 13:03] BT-fgarbely commented on #68
Hello everybody

Just for your information:
I start with the merge of _account_banking_payment_export_ into _account_payment_order_.

Regards

[2016-03-31 23:58] pedrobaeza commented on #68
Great, @BT-fgarbely, let me know if you have any doubt. I assign you in https://github.com/OCA/bank-payment/issues/222

[2016-04-01 01:04] JordiBForgeFlow commented on #68
The proposal from Pedro makes sense to me.

In this scenario the new account.payment object would have more limited functionality, similar to the account.voucher in v8. But still, that is very useful for companies that wish to record immediately the payment of an invoice, and not really dealing with automated bank transfers. And there's a lot of them, based on my experience. The usability improvem

[2016-04-01 06:30] cubells opened #71 "[8.0] [account_payment_extension] Fail due to alter table"
Unable to upgrade module because this two columns exits:
https://github.com/OCA/account-payment/blob/8.0/account_payment_extension/migrations/8.0.1.0.0/pre-migration.py#L17-L18

Can It be checked if exist before alter table?

[2016-04-01 08:56] pedrobaeza commented on #71
But they shouldn't exist... Remove them in your DB before migrating.

Anyway, if you want, you can program an SQL sentence to see if the column exists, and if not, call this creation sentence, but there's no unique SQL sentence to create it if not exists.

[2016-04-01 09:35] damdam-s commented on #49
`account_payment_term_multi_day` migration done in https://github.com/OCA/account-invoicing/pull/141

[2016-04-01 11:24] damdam-s commented on #49
@pedrobaeza just to be clear, it's my colleague @jcoux who did the migration. Many thanks to him.
Can you change credit in checkboxes comment please ?

[2016-04-01 11:34] pedrobaeza commented on #49
Ah, OK, no problem

[2016-04-04 02:46] nmoturi commented on #68
I would also like to suggest to have account.payment.order have an option to select the credit notes (refunds) as well if we are giving a option to mark invoices as paid. In a typical supplier payment management I haven't come across any customer ( at least in Australia) to process individual invoices other than service based invoices. They would like to have one interface like a payment run - to

[2016-04-04 07:46] pedrobaeza commented on #68
@nmoturi, last version of v8 _account_banking_payment_export_ is able to handle this. Have you tried?

[2016-04-04 08:23] nmoturi commented on #68
Thank's Pedro. No, I haven't tried v8 module and glad to know this has been already covered.

[2016-04-05 09:33] cubells commented on #71
I saw the problem.

You are right @pedrobaeza

[2016-04-05 09:33] #71 closed

[2016-04-21 19:02] stephankeller commented on #68
I just want to add that in the US, probably all our customers register the payments from invoices that is the main way to enter payments.

[2016-04-26 07:53] yvaucher commented on #68
@alexis-via I heard you will work on SEPA payment during Sorento code sprint, keep us posted if you do anything on restoring payment order.

Please note also that there is a version of a payment order (Payment Register) in https://github.com/OCA/l10n-switzerland/pull/212 done by @BT-mtallon , thought you might want something a bit more generic.

[2016-04-26 07:57] pedrobaeza commented on #68
@alexis-via, you would be the ideal person to work on this as you already worked with this set of modules before. Please check https://github.com/pedrobaeza/account-payment/tree/9.0-account_payment_order that is the start of the merge work. I have moved them to account-payment because it makes more sense as you can have payment orders without involving the bank activity, and thus we will have each

[2016-04-26 08:00] yvaucher commented on #68
@alexis-via And have fun at Sorrento :smile:

[2016-04-27 17:09] alexis-via commented on #68
This is gonna be a 2nd revolution in OCA/bank-payment ! Many great things are coming !

[2016-04-27 22:15] alexis-via commented on #68
in v8, account_payment_partner depends on account_banking_payment_export.

In v9, we would like to do the contrary : account_payment_order (which replaces account_payment and account_banking_payment_export) will depend on account_payment_partner. In fact, the dependancy would be the following:

account_payment_order -> account_payment_partner -> account_payment_mode

This will allow the e-commerce

[2016-05-03 12:05] yvaucher commented on #68
To reference it: OCA/bank-payment#270

[2016-05-03 12:07] yvaucher commented on #68
By the way shouldn't account_payment_order module be in OCA/account-payment repository ?

[2016-05-03 23:37] pedrobaeza commented on #68
It was decided in the Sorrento code sprint to keep it in the same branch for not "disturbing" users that are used to go to this branch.

[2016-05-16 11:30] sandrafig opened #83 "[8.0] [account_payment_return] Duplicated journal item"
**Steps to reproduce:**
- Mark as paid two sale invoices from the same partner, selecting the same bank journal.
- Go to Accounting/Customer Payment Returns and create a new one, select the bank journal and in one line add an item with the partner and the two payments.
- Confirm the return.
- Go to Accounting/Journal Entries and open the one created by the return.

**Problem:**
- In the journal en

[2016-05-16 11:36] pedrobaeza commented on #83
cc @carlosdauden

[2016-05-18 12:09] sandrafig commented on #83
I've been trying out different scenarios and I think the module should be set to Not installable until this is fixed.

If you create a new return for two invoices of the same partner, it does not matter whether you put it in the same line or in two different lines. When you put it in two different lines, apparently everything seems OK, but those two invoices stay related (they're reconciled togeth

[2016-05-18 12:13] pedrobaeza commented on #83
Your case is very specific (same partner in several payments), so no reason for disable it. You can also fix it and propose the patch in a PR.

[2016-05-18 13:47] sandrafig commented on #83
Thank you Pedro, I'll take a look at the code and see what I can do (I'm a noob in Python)

[2016-06-05 08:45] charyorde opened #86 "Support for recurring payment"
Not sure if this belongs to `OCA/account-pament` or `OCA/bank-payment`, but I'll like to know whether the account-payment module support recurring payment OOTB? For example, pay on the 28th of every month for 12 months.

[2016-06-05 09:34] charyorde commented on #86
Nevermind. Found it in the Quotation template.

[2016-06-05 09:34] #86 closed

[2016-07-13 16:43] lasley opened #93 "RFC: Payment Connector Modules"
This will probably require a repo on its own, but I figured this is the most relevant existing repo.

One of my upcoming projects is a set of payment modules that operate over API, instead of this BS interstitial payment acquirer page.

Obviously we have some PCI concerns to alleviate, but I think this isn't too much of a problem given the right architecture & proper security audit/guidance.

Here

[2016-08-09 14:51] ovnicraft opened #97 "Module account_voucher_no_auto_lines lost in 8.0 and 9.0"
I was looking for `account_voucher_no_auto_lines` module i did not find it at this branches, why was removed ?
Exists at 7.0

[2016-08-09 14:53] pedrobaeza commented on #97
It hasn't been removed. It's just simply not migrated yet.

[2016-08-09 14:53] #97 closed

[2016-08-09 17:01] ovnicraft commented on #97
So my Q was for i didnt find it here https://github.com/OCA/account-payment/tree/8.0, and is not listed in addons tables for readme, policy about this is not just mark as not installable.?

[2016-08-09 17:12] pedrobaeza commented on #97
Because it was merged in 7.0 after the 8.0 fork. You should bring it with full commit history if you want to have it on 8.0, similar to https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0

[2016-08-24 11:55] #61 closed

[2016-09-27 12:29] JordiBForgeFlow commented on #70
PR proposed here: https://github.com/OCA/account-payment/pull/94. Closing this issue.

[2016-09-27 12:29] #70 closed

[2016-10-06 12:47] pedrobaeza opened #102 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [x] account_check_printing_report_base - By @smangukiya - #147
- [x] account_due_list - By @eLBati  - #129
- [x] account_due_list_payment_mode - ~~By @vonpupp - #130~~ By @Roodin - #141
- [x] ~~account_payment_order_to_voucher~~ - Voucher not present since v9
- [x] account_payment_return - By @chi

[2016-10-20 14:41] scigghia commented on #102
Hi Pedro, i've done a mistake, so please consider this PR https://github.com/OCA/account-payment/pull/106
thanks

[2016-10-20 14:43] pedrobaeza commented on #102
OK

[2016-10-22 17:36] lasley commented on #93
Closing - Odoo SA basically did this for us already in payment v10 w/ their S2S implementations.

[2016-10-22 17:36] #93 closed

[2016-10-26 22:08] JordiBForgeFlow commented on #59
This is now solved, as an init hook was added https://github.com/OCA/account-payment/blob/8.0/account_due_list/init_hook.py.

Closing this issue.

[2016-10-26 22:08] #59 closed

[2016-11-19 01:09] diiman2000 opened #115 "Payments Due list days overdue(No color change)"
On the payment due list view the colour of the over due payment does not change to red even if the invoice is 13 days overdue. Please can you help me?

![screenshot 2016-11-19 01 05 04](https://cloud.githubusercontent.com/assets/5080681/20451725/c489262e-adf4-11e6-8c4a-ddd26a4a3425.png)

[2017-03-16 14:14] caguimore opened #125 "account_due_list install takes too much time"
If you install the account_due_list to a database with a lot of account_move_lines (i.e. < 100.000) the calculation of store values takes too much time.

[2017-03-17 02:54] pedrobaeza commented on #125
Yeah, but it's the needed time. No possible solution.

[2017-03-17 05:10] JordiBForgeFlow commented on #125
On v8 there is an init hook that speeds up the install

https://github.com/OCA/account-payment/blob/8.0/account_due_list/init_hook.py

Are you using the latest code?

[2017-03-17 09:43] pedrobaeza commented on #125
I'm assuming it is using it. Anyway, it takes time, so please don't open again the issue. It's crystal clear.

[2017-03-17 09:43] #125 closed

[2017-03-23 17:57] pedrobaeza commented on #68
Closing as this was handled so long ago.

[2017-03-23 17:57] #68 closed

[2017-03-23 17:58] pedrobaeza commented on #115
Please reproduce this on runbot, because you have a custom theme that can affect. Meanwhile, I close.

[2017-03-23 17:58] #115 closed

[2017-03-23 17:58] pedrobaeza commented on #83
Closing due to aging.

[2017-03-23 17:58] #83 closed

[2017-03-23 17:59] pedrobaeza commented on #37
This should be changed in Transifex.

[2017-03-23 17:59] #37 closed

[2017-03-23 17:59] pedrobaeza commented on #26
Closing due to aging

[2017-03-23 17:59] #26 closed

[2017-03-23 18:00] pedrobaeza commented on #43
Closing due to aging

[2017-03-23 18:00] #43 closed

[2017-04-14 00:13] max3903 opened #134 "account_payment_batch_process"
At @ursais, we have a module to select multiple invoices from the vendor bill list view or from our aging  module (equivalent to account_due_list) and generate all the payments (grouped by vendor).

I think this repository would be the best fit to host it, unless the feature already exists in a module I haven't found.

Any opinion? Interest?

Thanks.

[2017-04-14 09:53] Martronic-SA opened #137 "account_vat_on_payment to version 9.0"
Is there somebody working on porting account_vat_on_payment to version 9.0?

Thanks

[2017-04-14 11:02] pedrobaeza commented on #134
But this is what account_payment_order does with the option of transferring the balance to the selected bank account, so you don't need this module at all.

[2017-04-17 10:42] pedrobaeza commented on #102
@eLBati is account_vat_on_payment still needed on v9?

[2017-04-19 09:20] eLBati commented on #102
@pedrobaeza it is not needed as is. I still have to analyze if standard module covers every need. I strike through ```account_vat_on_payment```

[2017-04-20 23:31] max3903 commented on #134
@pedrobaeza Thanks!

[2017-04-21 09:59] eLBati commented on #137
@Martronic-SA it should be replaced by core module ```account_tax_cash_basis```

[2017-04-21 10:01] #137 closed

[2017-04-21 16:12] max3903 commented on #134
Hello @pedrobaeza

I have been evaluating account_payment_order:
- We don't need a document like the payment order to track the list of invoices part of the same payment order
- We don't need SEPA stuff

account_payment_batch_process provides a simple way to select multiple invoices (from the invoice list view or our partner aging module) to create payments.

Accountants look at their supplier agi

[2017-04-21 17:12] pedrobaeza commented on #134
Well, SEPA has nothing to do with account_payment_order (they are different modules), but SEPA orders can also be made with this. There's a very simple way in this module to select multiple invoices: just select them in the list view, and click on Action > Add to payment order.

[2017-04-21 17:51] max3903 commented on #134
@pedrobaeza We don't want a payment order, just a list of payments.

[2017-04-21 17:54] pedrobaeza commented on #134
It's the same, but with another name.

[2017-04-21 17:55] max3903 commented on #134
@pedrobaeza

Look at https://github.com/OCA/account-payment/pull/138/files, there is no object to store the list of payments...

[2017-04-21 17:58] pedrobaeza commented on #134
OK, as you want. I don't see the goal for this module having the other, but if people see it, then go ahead.

[2017-04-21 18:14] max3903 commented on #134
@pedrobaeza Thanks!

[2017-04-21 18:14] #134 closed

[2017-04-23 10:45] pedrobaeza commented on #102
OK, when you are sure about it, please make the PR removing the module or keeping the parts you need, maybe with a module renaming.

[2017-05-03 15:41] mtbochaca commented on #49
The translation is not in Transifex. I can not translate it. Thanks.

[2017-05-03 17:22] pedrobaeza commented on #49
I have added them. It will be available very soon.

[2017-06-07 08:45] angelmoya opened #144 "Cash Flow Forecast"
I'm planning to test and migrate account_treasury_forecast modules  from https://github.com/odoomrp/odoomrp-wip to this repo on version 10, any comment about it @pedrobaeza

[2017-06-07 09:26] pedrobaeza commented on #144
Well, I was not involved on this module and I also don't see how to work with it in a practical way (I only see manual entries, but without proper automatisms).

@anajuaristi can tell you more about this.

[2017-06-07 10:09] angelmoya commented on #144
OK, I'm testing and it's working ... but as you said it's only manual way.

Maybe it could be better to develop new module, like account_due_list, that show on sql view info about due list and forecast. And forecast could be new object account.payment.forecast with other field called type that can be:
- payment (from accounting)
- draft invoices
- sales and purchases
- manual forecast

On new view

[2017-06-07 10:13] angelmoya commented on #144
If someone want to check account_treasury_forecast on version 10, code is working on this branch:

 https://github.com/PESOL/account-payment/tree/ADD-10-account_treasury_forecast

But for the moment I will not do the PR

[2017-08-02 19:19] bistaray commented on #102
https://apps.odoo.com/apps/modules/9.0/account_payment_show_invoice/ works fine on v10 with no changes.

[2017-08-29 13:59] D4N commented on #144
@angelmoya I like your draft, such a module would be great to have. I would also like to add reoccurring monthly expenses (like rent, employee wages, average expenses for gas, insurances, etc.) to the forecast. However, the monthly expenses should be maybe put in a separate module, as they might be also useful for reconciliation.

Do you intend to work on your draft? If yes, I would offer my help.

[2017-09-11 10:26] cesarsc79 opened #158 "hi"
when i save the record................

""
You must input all moves references in the payment return.
""

But in Payment Reference is alway empty. (insert text manually dont work).

Any idea?

thank you

[2017-09-22 22:43] marcbritten opened #160 "Check number wrapping"
Hi using account_check_printing_report_dlt103 the middle and bottom section Check # field the check number wraps and is printed under the words Check # - this causes the number to overlap the word Payment.  I'm also getting a 2nd page - possibly because check amount on the 3rd portion is right up against the margin.

[Payment Check DLT103.pdf](https://github.com/OCA/account-payment/files/1326022/P

[2017-09-26 07:43] LoisRForgeFlow commented on #160
Do you have installed the module [report_wkhtmltopdf_param](https://github.com/OCA/reporting-engine/tree/10.0/report_wkhtmltopdf_param)?

[2017-09-27 01:42] marcbritten commented on #160
Yes.

Odoo 10.0.20170816, with wkhtmltopdf 0.12.2.4-1 on Ubuntu 16.04

account_check_printing_report_base and dlt103 and  report_wkhtmltopdf_param downloaded from GIT repo and installed manually via the interface,.

[2017-10-03 13:59] pedrobaeza opened #161 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [x] account_check_printing_report_base - By @etobella - #167
- [x] account_check_printing_report_dlt103 - By @hveficent - #186
- [x] account_due_list - By @ozono - #170
- [x] account_due_list_aging_comments - By @mreficent - #197
- [x] account_due_list_days_overdue - By @mreficent - #198
- [x] a

[2017-10-10 16:31] #158 closed

[2017-10-10 16:31] pedrobaeza commented on #160
@lreficent do you have any clue then?

[2017-10-10 16:32] #102 closed

[2017-10-10 16:32] pedrobaeza commented on #144
Any news on this, @angelmoya, or should we close it?

[2017-10-10 16:33] #49 closed

[2017-10-10 17:07] JordiBForgeFlow commented on #160
@marcbritten You should use wkhtmltopdf 0.12.4 (with patched qt)

[2017-10-10 17:09] #160 closed

[2017-10-10 18:15] angelmoya commented on #144
I'm not working on it.... maybe this functionality could be done better with missbuilder

[2017-10-10 18:16] pedrobaeza commented on #144
OK, closing then.

[2017-10-10 18:16] #144 closed

[2018-02-21 13:27] hartscott76 opened #173 "[10.0] account_payment_return: leaving open value under AR"
This module is awesome! Thank you.

I am however having trouble with the module under v10. Once you have registered the NSF it continues to show an balance under AR even after you have registered the replacement payment. When I run the test, on your runbot and it's actually showing the exact same journal entries per transaction.

When we run a Due Payment Report or Partner Ledger it shows a $0 bal

[2018-03-19 23:28] pedrobaeza commented on #173
Which module?

[2018-03-20 01:40] hartscott commented on #173
account_payment_return

I can provide you with screen shots. It's an amazing module since Odoo
overlooked this crucial part.

On Mon, Mar 19, 2018 at 7:28 PM, Pedro M. Baeza <notifications@github.com>
wrote:

[2018-03-20 08:35] pedrobaeza commented on #173
Please describe the exact steps followed for getting the problem and try the same on runbot (click on "Try me on runbot" button on the README).

[2018-03-21 11:57] hartscott commented on #173
I keep trying to use the Runbot but it looks like the build was destroyed.
Tried creating a new db but it won't allow. Attached is a video of what we
are seeing. If you see something that is wrong please let me know, but I
believe everything is correct. Once you run the Open report it credits the
repayment back into the system as an open item.

On Tue, Mar 20, 2018 at 4:35 AM, Pedro M. Baeza <noti

[2018-03-22 00:18] pedrobaeza commented on #173
The video is not attached here in GitHub. You should try directly from GitHub interface or upload it in any other place.

[2018-03-22 13:17] hartscott commented on #173
Sorry about that!

https://drive.google.com/open?id=1AAjLt3HV36jsOAEgs4ck8V_2MZMlhVVv

On Wed, Mar 21, 2018 at 8:18 PM, Pedro M. Baeza <notifications@github.com>
wrote:

[2018-03-22 14:58] pedrobaeza commented on #173
As this is a public issue, you should give public permission to the video.

[2018-03-22 23:53] hartscott commented on #173
Sorry was using gDrive but didn't realize you couldn't openly share. Never really needed to before...

[nsf-2018-03-21_07.50.45.mkv.zip](https://github.com/OCA/account-payment/files/1839631/nsf-2018-03-21_07.50.45.mkv.zip)

[2018-03-26 00:16] pedrobaeza commented on #173
I have seen the video, but you are still not showing the problem. You are saying that the report is not correct, but I don't see that report nor what is the kind of problem. Sorry, but this overpasses the kind of free assistance I can give, and I think it's a misunderstanding of the use of the module, so I close the issue and you should contact any partner that can advise you.

[2018-03-26 00:16] #173 closed

[2018-04-06 13:03] jaumeplanas commented on #161
account_partner_reconcile @jaumeplanas #180

[2018-04-06 14:25] jaumeplanas commented on #161
account_partner_reconcile @jaumeplanas #181

[2018-04-07 15:44] cesarsc79 opened #182 "error to install"
???

El campo `origin_invoice_ids` no existe

Contexto del error:
Vista `account.invoice.form.return`
[view_id: 1029, xml_id: n/a, model: account.invoice, parent_id: 471]
None" while parsing /home/odoo/addons/account-payment/account_payment_return/views/account_invoice_view.xml:8, near
<record id="invoice_return_form" model="ir.ui.view">
        <field name="name">account.invoice.form.return</fiel

[2018-04-07 15:52] cesarsc79 commented on #182
Pedro:

Closed this issue,,,,

after update my odoo 11  instance with all modules.... ALL OK

SORRY

[2018-04-07 16:13] #182 closed

[2018-04-13 10:58] DarioLodeiros opened #183 "Account payment return: Why only reconcilied move lines?"
Is there a reason for not being able to make a refund, for example, an advance payment?
https://github.com/OCA/account-payment/blob/7222b3fd30c520f3a660f89d5b103cd292b1ee7f/account_payment_return/views/payment_return_view.xml#L38-L44

[2018-04-13 10:59] pedrobaeza commented on #183
Refunds are not receivable, but payable, so I don't get it...

[2018-04-13 11:15] DarioLodeiros commented on #183
I mean if the company has a customer payment without reconcilied (in advance)

[2018-04-13 11:21] pedrobaeza commented on #183
Well, that's not something covered right now, as for returning something, you need to have a reconcile with the payment order or similar.

[2018-04-13 11:32] DarioLodeiros commented on #183
Ok, I tested it with this module and if I do a customer payment (not reconcilied) refund, the payment and the refund are reconcilied between them. Its only necessary drop the reconlied domain in xml move field... I can make a little PR if you see it well.
Thanks!

[2018-04-13 11:34] pedrobaeza commented on #183
I don't have it clear, as there's a unreconcile operation in between, and I still don't see the flow. @carlosdauden what do you think?

[2018-05-17 00:44] yk2kus opened #188 "account_payment_batch_process doesn't work"
the module "account_payment_batch_process" fails to work with a warning message
"Verification Failed! Total Invoices  Amount and Check amount does not match!.
following block of code always results in True hence warning is raised (self.cheque_amount is always 0.0, nowhere this amount is computed hence is not equal to self.total_pay_amount
[code]

[2018-05-17 00:45] yk2kus commented on #188
@max3903  am I missing something? how does this module work for you?

[2018-05-17 00:48] yk2kus commented on #188
Please ignore the issue. didn't notice the field is to set manually.

[2018-05-17 00:48] #188 closed

[2018-05-29 13:47] faryrosa commented on #161
good morning

I have a migration proposal to odoo 11 from account_payment_batch_process that I would like you to please review. I have the branch coming from a fork of account-payment. What would be the procedure?

[2018-05-29 14:00] pedrobaeza commented on #161
See https://odoo-community.org/page/code

[2018-08-27 22:01] andrp92 opened #200 "account_check_printing only available at company level"
I have 3 different banks with 3 different check templates under the same company. Although i am able to create multiple templates, i am only able to change them at a company level. i think it would be great if we could have this functionality at a journal level, so you we have the option to have a default template set up for each journal individually and be able to quickly print them out. Thanks i

[2018-09-27 00:02] OCA-git-bot opened #201 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [ ] account_cash_invoice - By @mamcode - #240
- [ ] account_check_printing_report_base - By @Abranes - #241
- [ ] account_check_printing_report_dlt103
- [x] account_credit_card > account_payment_credit_card - ~~By @nikul-serpentcs - #211~~ #218
- [x] account_due_list - https://github.com/OCA/acc

[2018-10-24 18:32] andrp92 opened #205 "account_check_printing_report_base yields and error when trying to apply payment to multiple invoices"
i have summited a pull request with a fix for this issue, but it needs some re-factoring

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/src/odoo/odoo/http.py", line 650, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-server/src/odoo/odoo/http.py", line 310, in _handle_exception
    raise pycompat.rer

[2018-10-24 18:50] pedrobaeza commented on #205
Don't open a new issue if you have the PR #203 opened.

[2018-10-24 18:50] #205 closed

[2018-11-16 11:37] angelmoya opened #208 "[11.0] account_due_list_payment_mode & account_payment_partner issue"
Hi,

module account_due_list_payment_mode create payment_mode_id field on account.move.line as related='invoice_id.payment_mode_id', so it's not editable.

Module account_payment_partner create other field with same name, but not as related, this field is editable and is set on invoice validation.

For user is usefull to get this field editable on account_due_list.

Module account_due_list_payment

[2018-11-16 11:39] pedrobaeza commented on #208
This is a bad migration coming from previous where `account_payment_partner` doesn't include this module. Clearly `account_due_list_payment_mode` should display existing field, not to create a new one.

[2018-11-16 11:50] angelmoya commented on #208
Ok, I fix it on  #210

[2018-11-27 12:01] #208 closed

[2018-12-28 00:38] emagdalenaC2i commented on #161
Add the PR number #195 to account_payment_credit_card by @ursais
account_due_list_aging_comments is already merged - By @mreficent - #197
account_due_list_days_overdue is already merged - By @mreficent - #198
Please add account_payment_show_invoice to the list. It is already merged - By @mreficent - #199
Also I did'nt find the PR for partner_aging by @smangukiya or any comment about this migration

[2019-01-28 10:36] pedrobaeza commented on #183
@carlosdauden can you please give feedback?

[2019-01-31 10:34] refana77 commented on #201
Hello, please let me know is the module named account_check_printing_report_base and account_check_printing_report_dlt103 is in the odoo12 migration queue list.

[2019-01-31 18:58] Nikul-Chaudhary commented on #201
@OCA-git-bot account_payment_credit_card #218

[2019-02-07 13:55] sbidoul opened #220 "Account payment return: using with non bank journal"
Hi,

We are considering to use the payment  return module (very good module, btw, thanks!) with payment orders and payment modes that use the transfer account mechanism. With that mode, the payment journal is not the bank journal but typically a Misc operations journal.

Would you see a problem to allow selecting journals of type `general` on payment returns, in addition to bank journals?

[2019-02-07 16:46] pedrobaeza commented on #220
@carlosdauden what do you think? I don't see special problem right now.

[2019-02-07 18:14] carlosdauden commented on #220
If I'm not mistaken, the unique limitation is in this line:
https://github.com/OCA/account-payment/blob/1cf8b14f9273b251342eb03092048dc61c7ed09d/account_payment_return/views/payment_return_view.xml#L23

[2019-02-12 02:37] kittiu commented on #201
Hi, I would like to help migrate **account_payment_show_invoice** if it is not already done so. Thanks.
https://github.com/OCA/account-payment/pull/242

[2019-02-12 15:01] pedrocasi opened #221 "Weblate translation for version 10.0"
Hi,

Can someone pls enable the weblate translation for version 10.0? Or advise on how to do it.

Thank you!

[2019-02-13 09:37] pedrobaeza commented on #221
Done in https://github.com/OCA/account-payment/commit/2c8eb1c86616b083796d374f7903f83877e55dbd

[2019-02-13 09:37] #221 closed

[2019-02-15 23:11] sergiocorato opened #223 "[10.0] Test fail if run at 23.00 < utc time < 00.00 in >=+01.00 countries"
https://github.com/OCA/account-payment/blob/70037c2c374bb50fb156e1309215eea50263c620/account_cash_discount_base/tests/test_account_cash_discount_base.py#L76

see https://travis-ci.org/OCA/account-payment/jobs/494025126#L1092

[2019-02-25 12:51] ThomasBinsfeld opened #226 "[12.0] [RFC] Account Payment Return Import SEPA PAIN: reason codes"
The [ISO20022 documentation](https://www.iso20022.org/external_code_list.page) lists 225 return codes while the [OCA addon](https://github.com/OCA/account-payment/blob/12.0/account_payment_return_import_sepa_pain/data/unpaid_reason_codes.xml) lists 20 codes. Shouldn't all these missing codes be added in the OCA addon?

[2019-02-25 12:53] pedrobaeza commented on #226
Well, I don't remember well the source of this, but 225 can be too much, isn't it? Should we put all of them or only the most use ones?

[2019-02-25 13:06] ThomasBinsfeld opened #227 "[12.0] [RFC] Account Payment Return Import SEPA PAIN: NARR reason"
In a SEPA payment status report, the reason code can be [NARR](https://www.iso20022.org/external_code_list.page), meaning the description doesn't match any reason code but is described in the `AddtlInf` tag.

Shouldn't the OCA addon manage these narrative reasons?

[2019-02-25 13:10] pedrobaeza commented on #227
Yes, but it supposes to add a new field for free text. Maybe on the main module?

[2019-02-25 13:33] sbidoul commented on #227
+1 for a free text field on return lines in the main module.

[2019-02-25 13:39] sbidoul commented on #226
Question is: how to know which are the most used ones? I propose to add them all.

If at some point people combine manual entry of return with PAIN import, one possibility could be adding active flag on return codes so they don't appear in the drop down list, while the import code could still use them.

[2019-02-25 13:50] ThomasBinsfeld commented on #226
Would a XML file the best way to embed the 225 return reasons in the module (in terms of maintainability) ? I don't know if it can be done with a CSV file (no `noupdate` option).

[2019-02-25 13:51] pedrobaeza commented on #226
As this is standard, it can be tolerable to be put as CSV noupdate=0, as you shouldn't touch here. If you want, then create others. What do you think?

[2019-02-26 17:12] mamcode opened #230 "[11.0] account_check_printing_base Bug at printing of check report"
At moment of print check of a payment raise the following error:

Traceback (most recent call last):
  File "/.repo_requirements/odoo/odoo/addons/base/ir/ir_qweb/qweb.py", line 343, in _compiled_fn
    return compiled(self, append, new, options, log)
  File "<template>", line 1, in template_630_917
  File "<template>", line 2, in body_call_content_916
  File "<template>", line 5, in foreach_915

[2019-03-05 15:43] ThomasBinsfeld opened #235 "[12.0] [RFC] Account Payment Return: import CAMT"
Is there something existing to import SEPA Direct Debit returns from `camt.054.001.02` files? For now we only have [account_payment_return_import_sepa_pain](https://github.com/OCA/account-payment/tree/12.0/account_payment_return_import_sepa_pain) that manages the technical rejections from `pain.002.001.03` files. All return codes are already in it.

------------------
[iso20022](https://www.iso200

[2019-03-05 15:45] pedrobaeza commented on #235
I don't know any. I suppose this would be a module `account_payment_return_import_camt`.

[2019-03-07 08:00] ThomasBinsfeld commented on #235
Thanks @pedrobaeza. I'm on it.

[2019-03-08 09:17] ThomasBinsfeld commented on #227
Done in 12.0, I close this issue.

[2019-03-08 09:17] #227 closed

[2019-03-08 09:18] ThomasBinsfeld commented on #226
Done in 12.0, I close this issue.

[2019-03-08 09:18] #226 closed

[2019-03-08 09:19] ThomasBinsfeld commented on #235
The [codes set](https://github.com/OCA/account-payment/blob/12.0/account_payment_return_import_sepa_pain/data/payment.return.reason.csv) and probably [this override](https://github.com/OCA/account-payment/blob/12.0/account_payment_return_import_sepa_pain/models/payment_return.py) will be common to both import modules (`account_payment_return_import_sepa_pain` and `account_payment_return_import_sep

[2019-03-08 09:21] pedrobaeza commented on #235
I vote for merging both, and as v12 is recently migrated, the renaming is still allowed. @sbidoul what do you think?

[2019-03-08 09:25] sbidoul commented on #235
I'm fine with merging both. If a renaming has to be done, it could be account_payment_return_import_iso20022.

[2019-03-17 12:46] refana77 opened #238 "[11.0] Getting error while deploying 'account_check_printing_report_base' to odoo.sh"
We are receiving errors while deploying 'account_check_printing_report_base' to odoo.sh. The build failed due to errors. Please check the screenshots:

![screenshot-www odoo sh-2019 03 17-14-44-12](https://user-images.githubusercontent.com/43813739/54490983-c7d9a000-48cb-11e9-9545-59ec66040bd7.png)

[2019-03-25 04:05] mamcode commented on #201
@OCA-git-bot account_cash_invoice #240

[2019-05-22 19:57] #200 closed

[2019-05-24 23:41] brendanmasson opened #258 "[10.0] `account_check_printing_report_base` check reports report incorrect amount in "Payment" column"
For invoices with multiple payments, amounts listed in "Payment" column are the same as amounts in the "Original Amount".

The issue is that the report is aggregating amounts from all of the invoice's payments rather than selecting the ones in the report.

[2019-05-25 16:42] pedrobaeza commented on #258
Fixed in #259, so closing

[2019-05-25 16:42] #258 closed

[2019-05-27 23:12] edwinvedder commented on #230
Trying help.. Check dependencies in __manifest.py__.   Add "account", restart odoo.
Please, send comments.

[2019-06-01 14:32] emagdalenaC2i commented on #201
account_credit_card - By @nikul-serpentcs - #211 is closed and superseed in #218 that is already merged as account_payment_credit_card - By @Nikul-Chaudhary - #218

Please, add to the list account_voucher_killer - By @astirpe - #254

There is a PR for account_due_list_days_overdue - By @hveficent - #252

There is a PR for account_early_payment_discount - By @p-tombez - #231

There is a PR for acco

[2019-06-11 05:14] Swapnesh-SerpentCS commented on #230
Fixed in https://github.com/OCA/account-payment/pull/267 at https://github.com/OCA/account-payment/pull/267/commits/c97223507009e5f9c6399bc1cb80516eea5ace5a

[2019-06-16 17:00] Swapnesh-SerpentCS commented on #230
Hello @mamcode,
Could you please update the source code and test this again ?
Its seems to be working file on old Instances as well.

Thanks

[2019-06-17 12:26] mamcode commented on #230
Hello @Swapnesh-SerpentCS ok thank you, give me a chance and I'll try in the next few hours.

[2019-07-12 19:15] #161 closed

[2019-08-08 05:38] bharatrdevnani opened #280 "[10.0] Account Payment Widget Amount module traceback"
I have installed the module, and when I go to any open invoices which has payment registered against that partner. System throws following trace back:

Error: QWeb2: Template 'PaymentAmountPopOver' not found
http://0.0.0.0:8069/web/content/252-6cdd5c8/web.assets_common.js:2908
Traceback:
exception@http://0.0.0.0:8069/web/content/252-6cdd5c8/web.assets_common.js:2908:7
_render@http://0.0.0.0:8069/w

[2019-08-08 07:24] pedrobaeza commented on #280
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (https://runbot.odoo-community.org/runbot/repo/github-com-oca-account-payment-96 - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide

[2019-08-08 13:06] bharatrdevnani commented on #280
Hi,

Thanks for your swift response, I have tried on runbot and in local both works perfectly alright, but i don't know why its appearing in my production server.

Any pointers will be much appreciated!

[2019-08-08 13:42] pedrobaeza commented on #280
Possible reasons:

* Outdated code
* Other modules that conflict with this one
* DB instance without updated modules. Upgrade `base` module or put `-u all` launching the service.

Closing this then as no regular issue, but deployment problem.

[2019-08-08 13:42] #280 closed

[2019-08-25 20:07] mamcode commented on #230
@Swapnesh-SerpentCS Sorry for my late reply, the error no longer appears, I tried it on runbot.

[2019-08-25 20:07] #230 closed

[2019-09-06 13:51] pedrocasi opened #281 "account_payment_batch_process: no write-off on vendor bills"
Can anybody please take a minute to explain why does this module handle write-offs on customer invoice payments but not on vendor bill payments?

The way I see it they are both useful.

Thanks

[2019-09-06 14:01] max3903 commented on #281
Ping @serenacyr

[2019-09-09 19:05] jalzaga opened #283 "[account_payment_return] Cannot reconcile with bank statement"
When we create a payment return related to an invoice paid through a debit order, it creates the corresponding journal entry and it lets the invoice unpaid. The problem is that you cannot reconcile de unpaid amount with the bank statement because it is not shown in blue as the original payment.
To recreate the situation just create an invoice with a direct debit payment mode an include it in a deb

[2019-09-29 21:27] OCA-git-bot opened #284 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [ ] account_cash_invoice
- [ ] account_check_printing_report_base
- [x] account_due_list - By @MiquelRForgeFlow - #306
- [ ] account_due_list_aging_comment
- [ ] account_due_list_days_overdue
- [ ] account_due_list_payment_mode
- [ ] account_move_line_auto_reconcile_hook
- [ ] account_payment_cr

[2019-10-01 16:39] Nikul-Chaudhary commented on #284
@OCA-git-bot account_payment_credit_card -> #285

[2019-10-25 08:46] jalzaga commented on #283
There is no answer to this issue since September, 9. There are customers waiting for a solution to it. We know there is a workaround using a transfer account but it is not the best.
Please give feedback about it.

[2019-10-25 08:55] rafaelbn commented on #283
Hi @jalzaga ,

In which version?

I don't have any issue.

Maybe you can make a PR to solve it?

[2019-10-25 09:17] jalzaga commented on #283
I tested in v11 but I guess its also in v10 and v12 @rafaelbn

[2019-11-11 10:52] jalzaga commented on #283
@rafaelbn is there any news about this issue?

[2019-12-08 00:56] andrp92 opened #294 "[account_check_print_report_base] expected singleton error when priting check for internal transfers"
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/odoo/models.py", line 4414, in ensure_one
    _id, = self._ids
ValueError: too many values to unpack (expected 1)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/odoo/addons/web/controllers/main.py", line 1620, in report_download
    response = self.r

[2019-12-08 00:58] andres-pcg commented on #294
Line 73 of account-payment/account_check_printing_report_base/report/check_print.py; is trying to access matched_credit_ids function when rec_lines on **internal transfers** comes with multiple records.
[code]

[2019-12-08 01:02] andres-pcg commented on #294
@jbeficent

[2019-12-09 15:52] andres-pcg commented on #294
@pedrobaeza can we fix this by accesing the first record by adding index to **rec_lines** Like this:

[code]

[2019-12-09 16:20] andres-pcg commented on #294
@mreficent this issue started after commit 8a82165

[2019-12-09 17:36] MiquelRForgeFlow commented on #294
Solved by https://github.com/OCA/account-payment/pull/295. This issue can be closed.

[2019-12-09 19:15] #294 closed

[2019-12-09 19:15] andres-pcg commented on #294
thank you very much @mreficent

[2019-12-12 10:08] nikul-serpentcs commented on #284
@OCA-git-bot  partner_aging #297

[2020-01-21 23:33] ovnicraft commented on #201
Why is not listed on TODO `account_payment_batch_process`
@pedrobaeza

[2020-01-27 04:20] kittiu commented on #284
Please add account_payment_multi_deduction - https://github.com/OCA/account-payment/pull/304

[2020-01-27 11:53] kittiu opened #305 "[13.0][RFC] Bank Transfer (account.payment with payment_type = "transfer")"
Hi, I have been looking for bank account money transfer. Which I think the payment window almost do the job, except I can't fill the bank charge.

![image](https://user-images.githubusercontent.com/1973598/73172534-d3296900-4135-11ea-8b02-78ac72309717.png)

In fact, if the type "Internal Transfer" can allow similar as "Write off" amount, that will do.

Another desired feature is to do such thing i

[2020-01-29 11:08] MiquelRForgeFlow commented on #284
account_due_list https://github.com/OCA/account-payment/pull/306

[2020-02-14 20:36] matt454357 commented on #201
@ovnicraft , It appears that v12 can register payment for vendor bills from multiple vendors in the same batch.  That wasn't possible in v10, without the account_payment_batch_process module.

[2020-02-15 19:35] ovnicraft commented on #201
@matt454357 i check batch payment on v12 and you can link several invoices and custom amounts, IMO `account_payment_batch_process` must come to 12.0

[2020-02-17 07:26] HviorForgeFlow commented on #201
@max3903 it seems that list migration is outdated, most of modules are migrated already

[2020-02-28 09:39] AMhadhbi commented on #284
working on account_payment_show_invoice

[2020-03-24 12:01] sbejaoui opened #322 "Travis is failing for 12.0"
Hi all,

Travis is failing for 12.0.

Please see https://travis-ci.org/github/OCA/account-payment.

[2020-03-24 13:35] sbidoul commented on #322
Failing tests are in
- account_payment_show_invoice cc /@LoisRForgeFlow
- account_payment_multi_deduction cc/ @kittiu

It was green on Feb 22, so it's probably due to a change in Odoo.

[2020-03-24 19:41] sbejaoui commented on #322
I pushed a fix for the two tests.

[2020-03-25 06:47] kittiu commented on #322
Noted with thanks @sbejaoui

[2020-03-25 13:05] #322 closed

[2020-08-03 09:19] astirpe commented on #284
account_voucher_killer #343

[2020-09-08 10:39] dreispt opened #345 "[12.0][RFC] Multiple Payments: force memo field available (account_payment_multi_force_memo)"
### Description

On the Customer Invoices or Vendor Bills list, select several open invoices, and on the "Action" menu select "Register Payments".

By default you see a "Memo will be computed from invoices" information, meaning that the payment memo will be built using the paid invoice reference numbers.

If all the selected invoices belong to the same Partner, then checking the "Group Invoices" b

[2020-09-10 15:13] victoralmau commented on #284
I'm working on `partner_event` https://github.com/OCA/account-payment/pull/346

[2020-10-04 10:19] OCA-git-bot opened #360 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] account_check_date
- [ ] account_due_list
- [ ] account_due_list_days_overdue - By @victoralmau - #505
- [ ] account_due_list_payment_mode
- [ ] account_payment_multi_deduction
- [x] account_payment_return - By @joao-p-marques - #401
- [x] account_payment_return_import - By @victoralmau - #4

[2020-10-24 08:50] bharatrdevnani opened #363 "[10.0] [account_payment_widget_amount] Amount Paid getting assigned multiple times (Twice and Thrice also at times)"
Dear Community Members,

I am using account_payment_widget_amount module in V10,

When I am assigning partial amount on already partially paid or on fully unpaid invoice, the amount which I select in widget adjusts double the entered amount and also found instance where it is adjusting thrice

And also I have traced the issue some what it is calling following function multiple times, which results

[2020-10-27 13:03] farazbdm commented on #280
@pedrobaeza
this case can be recreated on runbot as well,
when there are multiple lines of Accounts Receivable the iterations of paid_amt considers full amount for each line to match.
that causes the issue.

i will make PR

[2020-10-27 13:05] pedrobaeza commented on #280
OK then. Waiting for PR, but FYI I'm not a user of this module, and not even working with this old version, but only handling OCA issues.

[2020-10-27 13:08] farazbdm commented on #280
sorry my bad, mentioned on wrong issue, i meant to mention another issue. Apologies again

[2020-10-27 13:12] farazbdm commented on #363
@pedrobaeza
this is the one i meant to PR on.
this case can be recreated on runbot as well,
when there are multiple lines of Accounts Receivable the iterations of paid_amt considers full amount for each line to match.
that causes the issue. #364

[2020-10-27 13:13] pedrobaeza commented on #363
Great, @bharatrdevnani can you please check the PR?

[2020-11-09 16:41] phuctranfxvn commented on #284
`account_early_payment_discount` migrated in https://github.com/OCA/account-payment/pull/370

[2020-11-19 17:16] enricostano opened #373 "[12] account_payment_return - create invoice to charge dunning expenses to customer"
Hi,
is there a way to generate an invoice to the customer for the dunning expenses while confirming a return?
Thanks!

[2020-11-19 17:18] pedrobaeza commented on #373
Not right now

[2020-11-19 17:30] enricostano commented on #373
Hi @pedrobaeza !
Do you think https://github.com/OCA/account-payment/pull/316 could lead in that direction?
Also, do you think it's something we could add to this repo as a contribution?

[2020-11-19 18:07] pedrobaeza commented on #373
It doesn't seem to be that, but new "data". A contribution adding this feature would be welcome.

[2020-12-21 14:41] sergioeix opened #380 "[13.0] account_payment_return issue with bank fee"
A return without a fee its working well but if you try to do it with a bank fee this trace back its shown:

![image](https://user-images.githubusercontent.com/62206774/102788398-dc9d6e80-43a2-11eb-8205-d11011c6e060.png)

![image](https://user-images.githubusercontent.com/62206774/102788342-c68fae00-43a2-11eb-9e2f-ee24f01130de.png)

this issue is fully reproducible on runbot (screenshots are from r

[2021-01-16 20:27] max3903 opened #386 "partner_aging: Missing invoices for past date"
# Steps to reproduce

* Create invoices, credit notes and payments over a period of 2 or 3 months (9/2020 to 1/2021 for example)
* Install MIS builder and configure your balance sheet (or use the balance sheet report from enterprise)
* Generate the balance sheet for 2020 (as of 12/31/2020)
* Run the customer aging report for a past date (12/31/2020)

# Result

* The balance of the account receivab

[2021-02-25 12:47] js-landoo commented on #360
Hola. Estamos interesados en migrar a v14 el account_payment_return
Hay alguien que ya esté en ello o nos podemos poner nosotros?

[2021-03-15 08:59] enricostano commented on #220
Hi @sbidoul did you manage to move forward this? We also need it, actually we also need to be able to configure a "bridge" account instead of the default bank account.

We could move forward the development on v12 if not done yet. What do you all think? Thanks!

[2021-03-15 21:05] sbidoul commented on #220
I think we did, on 12, but I don't remember how exactly.

[2021-03-16 08:55] enricostano commented on #220
@sbidoul I guess that you mean that you did some customization on v12. Right?

Do you think you could share how you solved it?

Was it a configuration of the module or something that you can set while creating the return?

@pedrobaeza @carlosdauden do you have any suggestion about it? We would like to make a contribution to the module.

Thanks everyone!

[2021-03-16 09:25] pedrobaeza commented on #220
OK, make the PR then

[2021-03-16 10:26] sbidoul commented on #220
@gva-acsone do you remember what we did here in the end ?

[2021-03-16 10:50] carlosdauden commented on #220
@enricostano I think that you can add another type (maybe `general`) in this domain:
https://github.com/OCA/account-payment/blob/1cf8b14f9273b251342eb03092048dc61c7ed09d/account_payment_return/views/payment_return_view.xml#L23

[2021-03-16 14:10] joao-p-marques commented on #360
I will work on `account_payment_return`.

@js-landoo have you made any progress so far?

[2021-03-16 17:37] enricostano commented on #220
@carlosdauden I think it's not only a matter of journal selection at view level. Let's see an example:

1. Invoice created (journal: Customer Invoices)
1. Invoice paid (journal: Bank)

In this situation, the journal selector on payment return form view will be used for 2 things:
1. To filter the payment lines that can be added (you must select Bank journal to be able to select the payment line fro

[2021-03-16 18:17] js-landoo commented on #360
@joao-p-marques todavía no hemos hecho nada con esto. Por nosotros, adelante.
Eso si, confírmalo si empiezas. Gracias.

[2021-03-17 06:45] joao-p-marques commented on #360
Ok. Yes, I am working on it. :+1:  Thanks.

[2021-03-22 10:14] enricostano commented on #220
I created a POC with #402

What do you think? Thanks!

[2021-03-22 10:29] enricostano commented on #283
@jalzaga do you think that this issue is related to #220 ?

[2021-03-26 12:25] enricostano commented on #220
OK, it turns out that @carlosdauden was right, we just need to add `general` to the `journal_id` domain.

:point_up: this sentence is not even true... sorry.

Should I make a PR to add `general` to the domain? Or we just close the issue? What do you think @sbidoul ?

[2021-03-30 14:52] SimoneVagile commented on #360
I got account_due_list [https://github.com/OCA/account-payment/pull/404](https://github.com/OCA/account-payment/pull/404)

[2021-04-26 15:29] jonerikceberio commented on #284
I have seen account_cash_invoice as WIP in #392

[2021-05-20 16:17] dreispt opened #414 "[14.0] account_payment_term_discount: can't make batch payments"
Odoo allows selecting multiple invoices from the same Partner, and then create a Payment for the total amount, using the Action context menu option.

When having account_payment_term_discount, this is no longer allowed.
The culprit it: https://github.com/OCA/account-payment/blob/7335b5411dc21382e3c4b84918d99dad77f957e2/account_payment_term_discount/models/account_payment.py#L93

We want to be able

[2021-05-20 16:18] dreispt commented on #414
@patrickrwilson

[2021-06-01 18:16] francisrubio06 commented on #284
Greetings, can anyone explain to me why the module account_payment_batch_process is not in the list. Is this module no longer required in odoo 13?

[2021-07-24 08:33] moumingroup opened #435 "Multi companies Issue"
Hi! Good Day,

Interactive Partner Aging at any date is a Good Module, there is some issue in Multi-company, it shows all companies Invoices in one view, is this possible to fix company-wise aging, I have tried by Record Rules, but i think there in no Company Feild in this module.

[2021-09-24 06:54] dsolanki-initos commented on #360
Here is the PR for account_cash_discount_base #451

[2021-10-17 10:13] OCA-git-bot opened #458 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] account_check_date - By @bizzappdev - #601
- [ ] account_check_payee - By @bizzappdev - #602
- [x] account_check_printing_report_base - By @CarlosRoca13 - #547
- [ ] account_check_printing_report_sslm102 - By @JasminSForgeFlow - #631
- [x] account_due_list - By @LudLaf - #498
- [ ] account_d

[2021-11-02 12:56] grindtildeath opened #462 "Converging financial / cash discount modules for v15.0"
Following discussions on https://github.com/OCA/account-financial-tools/pull/1040 it would be great to work together on providing a single module for v15.0 to provide discounts on early payments.

At the moment we have following modules either merged or in the process of being migrated to v14.0:
- account_financial_discount (by camptocamp, available for v13.0 in PR above with migration in progress

[2021-11-02 16:15] luc-demeyer commented on #462
We have also made such a module in the past and have ported it up to 10.0, cf.  https://github.com/luc-demeyer/noviat-apps/tree/10.0/l10n_be_cash_discount

In Belgium we have specific tax implications on cash discount, hence we'll end up with a generic module + localisation module in l10n-belgium.

[2021-11-09 13:56] dreispt commented on #462
@grindtildeath I'm totally for converging.

IIIUC your `account_financial_discount` is more complete than the other options, and ideally should be the one to carry forward. We can try evaluating it and see how well it does covering our customer needs.

[2021-11-09 13:57] dreispt commented on #462
@grindtildeath Can you link us to a `account_financial_discount` 14.0 migration PR please?

[2021-11-10 11:05] victoralmau commented on #360
`account_payment_return_import` https://github.com/OCA/account-payment/pull/463

[2021-11-10 15:35] grindtildeath commented on #462
@dreispt Thanks for the feedback.

I opened today the PR in this repository for account_financial_discount which is functional but doesn't cover the reconciliation part: https://github.com/OCA/account-payment/pull/464

I also opened another PR for the unmigrated part to bridge with the reconciliation widget: https://github.com/OCA/account-reconcile/pull/421

Edit: reconciliation model is broken to

[2021-11-18 16:28] grindtildeath commented on #462
FTR: I updated #464 with the migration of reconciliation model.

I some JS wiz wants to take over https://github.com/OCA/account-reconcile/pull/421, I'd be happy to help.

[2021-12-05 12:31] #183 closed

[2021-12-05 12:31] #201 closed

[2021-12-06 15:27] #223 closed

[2021-12-09 09:58] atchuthan opened #470 "[14.0] account_payment_term_discount: can't add extra amount in Register payment"
## Module
account_payment_term_discount

## Describe the bug
Can not add extra amount(i.e. amount greater than residual amount) in the register payment wizard.

## To Reproduce
**Affected versions**: 14.0

Steps to reproduce the behavior:
1. Create invoice with payment term(that has "Early payment discount" enabled).
2. Post and register payment
3. Add extra $10 to the amount, but the onchange wil

[2021-12-10 13:18] TastenExpress opened #471 "[paid support requested for setting up payment returns on odoo 14 CE]"
Hello there,

I'm Riccardo, the founder of a little german company which rents E-Pianos and Keyboards. I have introduced odoo 14 CE a few weeks ago and we are managing all of our payments with accounting module.

I'm contacting you because for my business it is important to manage payment returns and I see that odoo is out of the box not able to handle them well (not able to reconcile it properly)

[2021-12-11 09:10] JordiBForgeFlow commented on #471
@TastenExpress I do not understand your use case. Is it related to a return of a purchase order, or with a bank transfer request that was cancelled?

[2021-12-11 13:20] TastenExpress commented on #471
Hello Jordi, thanks for your quick reply.
In talking about bank transfers that were canceled by our bank (because the customers account were we want to debit or from is insufficient f.ex.).

This occurs when using the European sepa payment method, which allows you to debit directly from your customers bank account. After sending the payment order to the bank, this payment can be rejected a few day

[2021-12-11 21:01] JordiBForgeFlow commented on #471
Perhaps this is what you are looking for
https://github.com/OCA/account-payment/tree/14.0/account_payment_return_import_iso20022

El sáb., 11 dic. 2021 14:20, TastenExpress ***@***.***>
escribió:

[2021-12-11 21:07] TastenExpress commented on #471
Yes, I already installed this module and I see a wizard where I can upload some file.
I fear my bank is offering camt 53 format only. At least this is the format we are downloading our bank statements. And I fear, the files I can upload via importer, is not the bank statement files, right?
What kind of files should I upload there?

Is it possible to extend this module with this kind of data format

[2021-12-12 08:31] JordiBForgeFlow commented on #471
You can import your banl statement camt 053 files using https://github.com/OCA/bank-statement-import/tree/14.0/account_statement_import_camt

As I understand it some of the statement lines will actually be returns of previous payments. In order to handle those I assume that you need first to create am account payment return using https://github.com/OCA/account-payment/tree/14.0/account_payment_ret

[2021-12-12 11:32] TastenExpress commented on #471
Bank statements we are already importing via camt. So that's fine. And yes, some of the lines there are returns.

Seems to be a good idea that the payment returns will be reconciled (automatically) once they are created.

Now my problem is: I just have no idea how to fill the form view fields correctly in payment returns. Is there any documentation about it? Looks very complicated to fill all thes

[2021-12-19 12:32] #220 closed

[2021-12-22 07:43] iwkse commented on #360
account_check_report #474

[2021-12-30 05:54] atchuthan commented on #470
@dreispt @max3903 @Hardik-SCS any update?

[2022-01-04 15:21] rp-landoo opened #475 "[14.0] account_payment_return: Account used in the journal entry"
When I receive a payment order return and try to create a “Customer Payment Returns”, at the moment of validation it creates a journal entry puting the account of the customer selected to reopen the Balance and the invoice. But the problem I have is that the counterpart of the journal entry is the Bank account, which makes it impossible to reconcile with the bank move. The only solution that I hav

[2022-01-09 12:33] #235 closed

[2022-01-09 12:33] #238 closed

[2022-01-16 12:33] #281 closed

[2022-01-23 12:30] #283 closed

[2022-01-23 12:30] #284 closed

[2022-01-24 10:46] ao-landoo commented on #475
Fixed on #479

[2022-01-30 12:28] #305 closed

[2022-02-01 08:11] bosd opened #481 "[14.0] account_payment_credit_card missing translations"
**Is your feature request related to a problem?**
All the translation files are missing in the 14.0 version of account_payment_credit_card.

In V12 there where more languages. (hr,nl,ptpt_br)
https://github.com/OCA/account-payment/tree/12.0/account_payment_credit_card/i18n

**Describe the solution you'd like**
I would like to see the language files migrated, so there is no loss of resources as men

[2022-02-01 08:32] pedrobaeza commented on #481
Go to Weblate translation platform, export the translation of 12.0, and import it on 14.0. There's no way of automatic "fw-port" of translations if they have been done after the module migration, due to technical difficulties. The translation platform also has translation memory features, but someone has to research about how to properly use it. You can volunteer for that work if you want.

[2022-02-01 09:37] bosd commented on #481
The export-import on weblate I can only do for the language I'm authorized for. So this would mean asking the contributors of other languages to do the same.

Would it be possible to re-do the migration procedure. Create a PR for only these translation files? Would weblate accept that?
(This procedure might even be as cumbersome as the first option)

@sbidoul I'm happy to volunteer to investigate

[2022-02-01 09:41] pedrobaeza commented on #481
Yeah, that would be desirable, but the technical challenge for doing that is huge. I would go for an automatic filling of 100% match source terms across whole Weblate.

[2022-02-01 09:52] sbidoul commented on #481
That will work, as long as no one is creating the same translations on weblate at the same time, in which case we'd have a merge conflict in weblate and these are a pain to resolve cleanly.

That would be very welcome. Currently we have one weblate project per git repo and Odoo version, and then one component per addon. One thing I had in mind was investigating is if having one weblate project per

[2022-02-01 09:53] bosd opened #482 "[14.0] account_payment_credit_card Credit card payment generates an error"
While generating a credit card payment an user error is raised. It is unable to make the journal entries.

## Module account_payment_credit_card

## Describe the bug
A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/11499387/151946315-b0906a9d-2c99-446c-8cdb-98278279f556.png)

## To Reproduce
**Affected versions**: V14.0 on runbot

Steps to repr

[2022-02-01 13:54] bosd commented on #481
I’m limited by having any previous knowledge about weblate or the current infrastructure.
So the information in this post could be jibberish...

I agree, seems that this would helping solve some of the current issues. Maybe there are different tracks to share data between weblate instances?
From what I’ve read so far, IMO each new version of a module should be seen as a component to allow for port

[2022-02-05 08:56] bosd commented on #481
It sounds like an task for the oca bot, to pre-merge the lange files from the previous version branch to the merging branch.
Untill the bot is capable to do this task.

To fix this in this particular case, and shoutout to the last contributors of their language to forward port from V12 to V14 branch.
By using the import export method.
@badbole , @pedrocasi , @marcelsavegnago would you be so kind?

[2022-02-24 13:08] atchuthan commented on #470
any update?

[2022-03-25 10:04] atchuthan commented on #470
https://github.com/OCA/account-payment/pull/494

[2022-03-25 10:04] #470 closed

[2022-03-27 12:32] #345 closed

[2022-04-07 09:01] polqubiq commented on #458
account_payment_return #496

[2022-04-10 12:33] #363 closed

[2022-04-12 09:30] LudLaf commented on #458
`account_due_list` standard migration to version 15.0 #498

[2022-04-24 12:34] #373 closed

[2022-04-28 07:38] Palcon1490 opened #502 "Digital check"

[2022-04-28 07:43] #502 closed

[2022-05-01 12:36] #380 closed

[2022-05-01 12:36] #386 closed

[2022-05-10 15:59] promotobillet opened #503 "Account Payment Terms Discount - Feature request, so module works with mass payment registration."
I am requesting added logic for module "Account Payment Terms Discount" to work when registering a single payment to multiple invoices, which should receive discounts according to module and setup.  Currently with the module discounts only work when registering one payment per invoice.  When we send a customer a statement with multiple invoices, they traditionally send one payment for all.  We wou

[2022-05-18 11:28] miquelalzanillas commented on #360
I got account_due_list_days_overdue [#506](https://github.com/OCA/account-payment/pull/506)

[2022-05-22 12:37] #414 closed

[2022-06-02 11:12] LudLaf commented on #458
I want to migrate `account_payment_return` to version 15.0

[2022-06-03 09:59] LudLaf commented on #458
I want to migrate `account_payment_return_import` to version 15.0

[2022-06-03 16:34] LudLaf commented on #458
I want to migrate `account_payment_return_import_iso20022` to version 15.0

[2022-06-05 12:34] #435 closed

[2022-06-10 17:13] celm1990 opened #516 "[13.0, 14.0][account_payment_credit_card] payments are not reconciled with invoice"
## Module
account_payment_credit_card

## Describe the bug
Journal itesm are reconciled inccorrectly, invoice is not mark as paid

## To Reproduce
**Affected versions**:
13.0, 14.0
Steps to reproduce the behavior:
1. Congure the module:

        Go to Invoicing > Configuration > Journals
        Create a new journal for your credit card
        Check the box ‘Transfer AP to Credit Card Company’ an

[2022-06-13 10:16] Olageibol commented on #458
` account_due_list_payment_mode` https://github.com/OCA/account-payment/pull/518

[2022-07-17 12:37] #471 closed

[2022-07-19 10:57] LudLaf commented on #458
Standard migration to v15.0 - `account_payment_term_partner_holiday` #523

[2022-07-29 09:48] sergiocorato opened #527 "[12.0] account_payment_term_partner_holiday incompatibility with account_invoice_report_due_list"
## Module
account_payment_term_partner_holiday

## Describe the bug
When account_payment_term_partner_holiday is installed with account_invoice_report_due_list, term of payment with multiple due date will recomputed with default function.

## To Reproduce
**Affected versions**:
- [ ] 12.0: yes
- [ ] 14.0:

Steps to reproduce the behavior:
1. create a payment term with at least 2 term lines
2. crea

[2022-07-29 10:10] #527 closed

[2022-07-29 10:11] sergiocorato commented on #527
(moved to https://github.com/OCA/account-invoice-reporting/issues/231)

[2022-08-05 19:28] aventisasesores commented on #458
I want to migrate account_payment_return to version 15.0... any procedure to speed it up?

[2022-08-08 12:28] nmoturi opened #533 "[14.0] account payment batch process"
## Module
account_payment_batch_process.

## Describe the bug
The module allows selecting the invoices and credits however the total batch total is calculating the overall sum, not deducting the credits

## To Reproduce
v14
select the customer invoices & credits from the list (for a customer) and select "Batch Payment" from the action; this will add the selected invoices and credits.

Steps to rep

[2022-08-16 10:23] LudLaf commented on #458
.

[2022-08-28 12:37] #475 closed

[2022-09-04 12:42] #482 closed

[2022-09-04 21:31] bosd commented on #482
This one is not completely fixed

[2022-09-11 12:42] #481 closed

[2022-10-03 16:19] sbidoul opened #546 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [ ] account_due_list
- [ ] account_payment_term_extension
- [ ] account_payment_term_partner_holiday
- [ ] account_payment_widget_amount

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2022-10-08 09:04] rafaelbn opened #548 "Proposing myself as Banking Maintainer"
Hello @OCA/banking-maintainers ,

I would like to have the opinion of one of you here: https://odoo-community.org/groups/contributors-15/contributors-255083?mode=thread&date_begin=&date_end=

There is a lot of staff to do 😄

https://github.com/OCA/account-payment/pulls

Thank regards,
Rafael

[2022-10-10 08:47] #548 closed

[2022-10-21 15:13] ramiadavid commented on #546
Hi @sbidoul
Im working in `account_due_list` #550